#box1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

#box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#box3 {
  width: 100px;
  height: 100px;
  background-color: green;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
